.Wrapper {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
}

p {
    grid-area: 1 / 1 / 2 / 3;  
}

.Title {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 24px;
    margin: 20px 55px;
}

.QuestionBtn {
    width: 250px;
    height: 55px;
    border-radius: 20px;
    border: 2px #050528 solid;
    background: #0b0b52;
    color: #ffffff;
    transition: 0.3s;
    font-size: 16px;
    margin: 15px 0;
}

.QuestionBtn:hover {
    background: #121285;
    cursor: pointer;
}

.wrong {
    border: 2px #000000 solid;
    background: #a30e0e;
    pointer-events: none;
    width: 250px;
    height: 55px;
    border-radius: 20px;
    color: #ffffff;
    transition: 0.3s;
    font-size: 16px;
    margin: 15px 0;
}

.correct {
    border: 2px #000000 solid;
    background: #258b0f;
    pointer-events: none;
    width: 250px;
    height: 55px;
    border-radius: 20px;
    color: #ffffff;
    transition: 0.3s;
    font-size: 16px;
    margin: 15px 0;
}