.Wrapper {
    width: 700px;
    height: 400px;
    background-color: #0b0b52;
    border: 2px #050528 solid;
    border-radius: 30px;
    padding: 20px;
}

.Title {
    font-size: 28px;
    margin-bottom: 30px;
}

.StatusText {
    font-size: 20px;
    margin-bottom: 30px;  
}

.Text {
    font-size: 16px;
    line-height: 200%;
}

.Score20 {
    margin-bottom: 30px;
    color: #ff0000;    
}

.Status20 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ff0000;  
}

.Score50 {
    margin-bottom: 30px;
    color: #ff7700;    
}

.Status50 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ff7700;  
}

.Score80 {
    margin-bottom: 30px;
    color: #fff700;    
}

.Status80 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #fff700;  
}

.Score100 {
    margin-bottom: 30px;
    color: #09ff00;    
}

.Status100 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #09ff00;  
}