.Wrapper {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;
    background-color: #0b0b52;
    border: 2px #050528 solid;
    border-radius: 30px;
    padding: 20px;
}

.Title {
    font-size: 28px;
    margin-bottom: 30px;
}

.StatusText {
    font-size: 20px;
    margin-bottom: 30px;  
}

.Text {
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 30px;
}

.Score20 {
    margin-bottom: 30px;
    color: #ff0000;    
}

.Status20 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ff0000;  
}

.Score50 {
    margin-bottom: 30px;
    color: #ff7700;    
}

.Status50 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ff7700;  
}

.Score80 {
    margin-bottom: 30px;
    color: #fff700;    
}

.Status80 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #fff700;  
}

.Score100 {
    margin-bottom: 30px;
    color: #09ff00;    
}

.Status100 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #09ff00;  
}

.ResultBtn {
    width: 200px;
    height: 55px;
    border-radius: 20px;
    border: 2px #050528 solid;
    background: #0b0b52;
    color: #ffffff;
    transition: 0.3s;
    font-size: 15px;
    align-self: center;
}

.ResultBtn:hover {
    background: #121285;
    cursor: pointer;
}