.Wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 700px;
    height: auto;
    background-color: #0b0b52;
    border: 2px #050528 solid;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (hover: hover) {
    .StartBtn:hover,
    .LanguageBtn:hover,
    .InfoBtn:hover,
    .ExitBtn:hover,
    .ResultBtn:hover,
    .QuestionBtn:hover {
        background: #121285;
        cursor: pointer;
    }
}

.StartBtn:active,
.LanguageBtn:active,
.InfoBtn:active,
.ExitBtn:active,
.ResultBtn:active,
.QuestionBtn:active {
    background: #121285;
    transform: scale(0.96);
}

@media (max-width: 480px) {
    .Wrapper {
        padding: 15px;
        border-radius: 20px;
        width: 98%;
    }
}