.Wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.StartBtn {
    width: 250px;
    height: 55px;
    border-radius: 20px;
    border: 2px #050528 solid;
    background: #0b0b52;
    color: #ffffff;
    font-size: 16px;
    transition: 0.3s;
}

.LanguageBtn, .InfoBtn {
    width: 55px;
    height: 55px;
    border-radius: 20px;
    border: 2px #050528 solid;
    background: #0b0b52;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
}

@media (hover: hover) {
    .StartBtn:hover, 
    .LanguageBtn:hover, 
    .InfoBtn:hover {
        background: #121285;
        cursor: pointer;
    }
}

.StartBtn:active, 
.LanguageBtn:active, 
.InfoBtn:active {
    background: #121285;
    transform: scale(0.96);
}

@media (max-width: 480px) {
    .Wrapper {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        gap: 15px 10px;
    }

    .StartBtn {
        width: 100%;
        flex-basis: 100%;
    }

    .LanguageBtn, .InfoBtn {
        width: 55px;
        flex-basis: 55px;
    }
}